[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pdoc3 = "*"

[packages]
aiohttp = {extras = ["speedups"],version = "*"}
gmqtt = "*"
tcp-connectors = {editable = true,git = "https://github.com/evocount/tcp-connectors.git"}

[requires]
python_version = "3.8"
